#content{
	overflow:auto;
	height: auto;
}

.about_add {
	/* position: relative;*/
	width: 950px;
	height: auto;
	margin: 0 auto;
	font-family: Futura,"小塚ゴシック pro",sans-serif;
}


.about_add_top {
	width: auto;
	height: auto;
	font-size: 29px;
	color: #000;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding: 0 10px;
	/*background-color:#eFeFeF;*/
	/*text-align: center;*/
	/*line-height : 160% ;*/
	padding: 0px 10px;
}
.about_add_detail_1{
	width: 950px;
	height: auto;
	 /*position: relative;*/
padding-top: 40px;
	color: #000;
}


.about_add_detail_title_1 {

	font-size: 22px;
	color: #000;
	font-weight: bold;
/*	border-bottom: 1px solid black;*/
	/*padding-top:  50px;*/
}

.about_add_detail_1_text_1 {
width: 400px;
height: 30px;
font-size: 17px;
color: #000;
margin-top: 20px;


}

.contact_subtitle{
	border-bottom: solid 1px #000;
	font-size: 22px;
	width: 880px;
	margin: 0 20px;
	margin-top: 33px;
}


.about_add_detail_1_text_2 {
/*position: absolute;*/
width: 400px;
height: auto;
font-size: 13px;
color: #000;
margin-top: 20px;
float: left;
}


.about_add_detail_1_text_3 {
/*position: absolute;*/
width: 400px;
height: auto;
font-size: 13px;
color: #000;
margin-top: 20px;
right:50px;
float: right;

}

.about_add_detail_1_text_4 {
/*position: absolute;*/
width: 950px;
height: auto;
font-size: 17px;
color: #000;
padding: 0px 20px 0px 0px;
display: inline-block;

}


.caption{
	font-size: 17px;
}

.small_caption{
	font-size: 12px;
}

table{
	width:800px;


}

td input{
	width: 95%;
}

td textarea{
	width: 95%;
}

.send{
	margin: 0 auto;
	margin-top: 30px;
	width: 860px;
	text-align: right;
}




.about_add_detail_2{
	width: 950px;
	height: auto;
	 /*position: relative;*/
padding-top: 50px;
	color: #000;
}




.about_add_detail_title_2 {

	font-size: 22px;
	color: #000;
	font-weight: bold;
/*	border-bottom: 1px solid black;*/

}

.about_add_detail_2_text_1 {
/*position: absolute;*/
width: 950px;
height: 50px;
font-size: 17px;
color: #000;
float: 

}

.about_add table{
	background-color: #f7f8f8;
	border-collapse: collapse;
	border: solid 1px #000;
	margin: 0 auto;
	margin-top: 33px;
	width: 860px;
}

.about_add td{
	background-color: #f7f8f8;
	border-width: 1px 0px;
	border-color: #000;
	border-style: solid;
	padding: 5px;
}

.datetime_in{
	height: 100px;
}

.venue_in{
	height: 60px;
}

.host_in{
	height: 90px;
}

/*
.about_add_detail_2_text_2 {
position: absolute;
width: 950px;
height: 150px;
font-size: 17px;
color: #000;
background-color:#eFeFeF;
margin-top: 75px ;
padding: 10px 20px 0px 20px;
}  */