.about {
	width: 950px;
	margin: 0 auto;
}

.about_title {
	font-size: 29px;
	color: #000000;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding: 0 10px;
}

.about_subtitle {
	font-size: 17px;
	color: #000000;
}

.about_detail {
	font-size: 22px;
	color: #000000;
}