.contact {
	width: 950px;
	margin: 0 auto 142.5px;
	text-align: center;
}


.contact {
	width: 930px;
	padding: 0 10px;
	margin: 0 auto;
}

.QandA_space{
	margin: 0 auto;
	margin-top: 33px;
	width: 820px;
}

.QandA{
	width: 780px;
}

.contextQ{
	border-bottom: solid 1px #000;
	font-size: 22px;
	text-align:left;
}

.contextQ:before{
	content: "Q ";
	font-size: 29px;
	color: #ff5514;
}

.contextA{
	border-bottom: solid 1px #000;
	font-size: 17px;
	margin-top: 20px;
	margin-left: 20px;
	text-align:left;
}

.contextA:before{
	content: "A ";
	font-size: 29px;
	color: #0000ff;
}

.left{
	width: 180px;
}

.right{
	text-align: center;
}

.contact_title{
	font-size: 29px;
	border-bottom: solid 1px #000;
	text-align:left;
}

.contact_subtitle{
	border-bottom: solid 1px #000;
	font-size: 22px;
	width: 880px;
	margin: 0 20px;
	margin-top: 33px;
	text-align:left;
}

.contact table{
	background-color: #f7f8f8;
	border-collapse: collapse;
	border: solid 1px #000;
	margin: 0 auto;
	margin-top: 33px;
	width: 860px;
}

.contact td{
	background-color: #f7f8f8;
	border-width: 1px 0px;
	border-color: #000;
	border-style: solid;
	padding: 5px;
}

.caption{
	font-size: 17px;
}

.small_caption{
	font-size: 12px;
}

td input{
	width: 95%;
}

td textarea{
	width: 95%;
}

.send{
	margin: 0 auto;
	margin-top: 30px;
	width: 860px;
	text-align: right;
}
