
div#error_background{
height: 98px;
min-width: 950px;
background-color: #F7F8F8;	
border-bottom: 4px solid #C9CACA;
}


div#error404{
position: relative;
height: 200px;
}


div#er_text{
font-size: 29px;
position: absolute;
left: 10px;
top: 150px
}

body{
	margin: 0px;
}

div#message{
font-size: 17px;
position: absolute;
left: 10px;
top: 250px;

}

div#url{
position: absolute;
left: 10px;
top: 350px;

}