#content{
	
}

div#tag_area{
	background-color: #f7f8f8;
	width: 950px;
	height: auto;
	margin: auto;
}

div#tag_title{
	width: 850px;
	height: auto;
	margin: 20px auto auto;
	border-bottom: solid 1px #727171;
	font-size: 22px;
	color: #000;
}

div#text{
	width: 850px;
	height: auto;
	margin: 10px auto;
	font-size: 13px;
	color: #727171; 
}

div#tag_list{
	width: 850px;
	margin: auto;
	height: auto;
	font-size:17px; 
}

div#button_area{
	width: auto;
	margin: 20px auto;
	height: auto;
	float: none;
	text-align : center ;
}

div.submit{
	width: auto;
	height: auto;
	text-align : center ;
}

div.input.select div {
	width: 280px;
}


.close_tagarea {
	display: none;
}

.open_tagarea {
	display: block;
}

.tag_search_area{
	width: 350px;
	text-align: right;
	display: block;
	padding-top: 10px;
	float: right;
}

#tag_search{
	width: 190px;
	display: inline;
	cursor: pointer;
	clear: both;
	font-size: 140%;
}