.manage_view{
	width: 950px;
	margin: 0 auto;
}

.view{
	float: left;
	margin-left: 10px;
	width: 690px;
}

.one_image{

}

.one_image img{
	/*float:left;*/
	height: 350px;
	clear:both;
	width: auto;
}

.two_image img{
	width: 300px;
	margin:0px 0px 0px 20px;
	clear:both;
	vertical-align: middle;
}

.three_image img{
	width: 200px;
	margin:0px 0px 0px 10px;
	clear:both;
	vertical-align: middle;
}

.event_poster{
	margin: 0 auto;
	text-align: center;
}

.event_poster a{
	display: inline-block;
}

div.input.select {
	width: 100%;
}

div.input.select div.checkbox{
	width: 200px;
	margin: 0;
}

div.input.select div.checkbox label{
	width: 150px;
}

.submit input{
	margin-top: 10px;
}