@CHARSET "UTF-8";

div#footer_back {
	width: 100%;
	min-width: 950px;
	background-color: #ea5514;
	height: 125px;
	margin-top: 0px;
	margin-bottom: 0px;
}


div#page_top {
	background-color: #ea5514;
	text-align: left;
	color: white;
	height: 20px;
	width: 105px;
	position: absolute;
/*	left: 1040px;*/
	top: -20px;
	margin-left: 300px;
}

#footer {
	background: #ea5514;
	height: 100px;
	/*width: 950px;*/
	/*padding: 0px;*/
	/*margin: 60px auto 0px;*/
	margin: 60px auto 0px;
	/*上下　左右の余白*/

	font-size: 13px;
font-family: Futura,"小塚ゴシック pro",sans-serif;



	vertical-align: center;
	position: relative;
	/*right: 160px;*/
bottom: 0;
}

#footer_back #footer_content_area{
	margin: 0 auto;
	width: 1260px;
}

#facebook {
	/*top: 10px;*/

	/*float: right;*/
	height: 60px;
	width: 100px;
	margin: 0px auto 0;
	padding-left: 325px;
	/*left: 1200px;
	/*margin-bottom: 10px;*/
	/*padding-bottom: 10px*/vertical-align: top;
}

.fb_iframe_widget {
	float: center;
}

/*
#horizon {
	position: absolute;
	height: 100px;
	width: 100px;
}
*/

/*
div#bold {
	position: absolute;
	font-weight: 200;
	width: 300px;
	float: left;
	font-size: 12px !important;
}
*/
div#footer_logo {
	float: left;
	height: 100%;
	margin-top: 13px;
/*	top: 5px;
	left: 215px;
	/*float: right;*/
	width: 100px;
}

img#logo {
	position: absolute;
	height: 85px;
	width: 95px;
	top: 5px;
	left: 150px;
}

div#text_area {
	float: left;
	width: 250px;
	height: 80px;
	margin: 20px 0 0;
	color: #fff;
	/*font-size: 12px !important;*/
	/*font-size: 90%;*/
}

div#facebook_and_menu {
	float: right;
}

div#facebook_and_menu a{
	height: 0px;
}

div#footer_menu {
	float: left;
	height: 10px;
	/*width: 450px;*/
	width: auto;

/*	top: 75px;
	left: 735px;
	/*vertical-align:middle;*/
	color: #ff0000;
	font-size: 13px;
font-family: Futura,"小塚ゴシック pro",sans-serif;
}
a.text:link {
	color: white;
}

div#footer_menu a.text:hover{
	color: #fff;
}

a.text:visited {
	color: white;
}

a.text {
	text-decoration: none;
}

div#author{
	min-width: 950px;
	margin: 0 auto;
	color: #fff;
	border-top: 1px solid white;
	height: 24px;
}

#author_title {
	width: 900px;
	margin: auto;
	text-align: center;
	height: 24px;
}