.host_manage {
	margin-left: auto;
	width: 690px;
	margin-top: 30px;
}

.host_data {
	font-size: 17px;

}

.host_data td{
	background-color: #fff;
	border-bottom: dotted 1px #000;
}

.host_add {
	margin-left: auto;
	width: 690px;
	margin-top: 30px;
}

.host_add label{
	font-size: 17px;
}

.host_add input{
	font-size: 17px;
}

.host_edit input{
	font-size: 17px;
}