@charset "utf-8";

div.view {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 950px;
	padding: 0;
	float: center;
	text-decoration: none;
	word-break: break-all;
}


div#page_title{
	margin: auto 10px;
	padding-bottom: 5px;
	font-size: 22px;
	font-weight: bold;
	border-bottom: solid 1px;
}

div.image {
	margin: 20px 0px 0px 0px;
	clear: left;
}

.new img {
	float: left;
	padding: 0px;
	height: auto;
	width: 40px;
	margin-top: 20px;
	padding-right: 10px;
}

div.rect {
	/*height: 30px;*/
	float: right;
	width: 950px;
	background: #f7f8f8;
	vertical-align: middle;
	padding: auto 0px auto 3px;
	text-align: middle;
	padding-top: 10px;
	padding-bottom: 11px;
	margin-top: 10px;
position:relative;
}

div.under_rect {
	/*height: 30px;*/
	float: right;
	width: 950px;
	background: #f7f8f8;
	vertical-align: middle;
	padding: auto 0px auto 3px;
	text-align: middle;
	padding-top: 10px;
	padding-bottom: 11px;
	margin-top: 10px;
	height: 18px;
position:relative;
}



a {
	text-decoration: none;
	color: rgb(3, 110, 184);
}

a:hover {
text-decoration: underline;
}

div.page_select_area {
	float: right;
	margin: auto 10px;
	/*padding: 4px 0px 4px 10px;*/
	background-color: #f7f8f8;
	font-size: 17px;
	height: 30px;
	margin: auto 10px;
	text-align: right;
	width: 400px;
	float: right;
/*	padding-left: 800px;*/
}

/*ボタンの位置*/
div.ps_box {
	position: absolute;
	right: 0px;
	height: 30px;
	top: 7px;
	/*padding: 0px 0px 4px 10px;*/
	width: 400px;
	text-align: right;
	left: 550px;
}

div.ps_under_box {
	position: absolute;
	right: 0px;
	height: 30px;
	top: 7px;
	/*padding: 0px 0px 4px 10px;*/
	width: 400px;
	text-align: right;
	left: 700px;
}

.page_select_area div.event_num {
	float: left;
	width: auto;
	height: 100%;
	padding: auto 0;
	padding-top: 3px;
}

.page_select_area div.select_area {
	float: right;
	min-width: 100px;
	margin: auto 0;
	height: 100%;
}

td.pages {
	padding: 1px 10px;
	font-size: 17px;
	border: none;
	height: 100%;
}

.pages a.page {
	border: solid 1px #9FA0A0;
	background-color: #fff;
	margin: 0;
	padding: 5px 5px 5px;
	
}

.pages a.page:hover {
	color: none;
}
