.tag_manage {
	margin-left: auto;
	width: 690px;
	margin-top: 30px;
}

.tag_data {
	font-size: 17px;

}

.tag_data td{
	background-color: #fff;
	border-bottom: dotted 1px #000;
}

.tag_add {
	margin-left: auto;
	width: 690px;
	margin-top: 30px;
}

.tag_add label{
	font-size: 17px;
}

.tag_add input{
	font-size: 17px;
}

.tag_edit input{
	font-size: 17px;
}