@charset "utf-8";

.event_detail{
	width: 950px;
	margin: 0 auto;
}

.content_event{
	font-size: 22px;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding: 0 10px;
}

.event_title{
	font-size: 29px;
	font-weight: bold;
	padding: 0 10px;
	margin: 40px 40px 0 40px;
	border-bottom: 1px solid black;
	word-break: break-all;
}

.event_poster{
	padding: 40px 0;
	margin: 0 auto;
	text-align: center;

}

.event_day{
	font-size: 17px;
	margin: 0 40px;
	padding: 10px;
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
}

.event_place{
	font-size: 17px;
	margin: 0 40px;
	padding: 10px;
	border-bottom: 1px dotted black;
}

.event_organizer{
	font-size: 17px;
	margin: 0 40px;
	padding: 10px;
	border-bottom: 1px dotted black;
}

.event_text{
	font-size: 17px;
	margin: 0 40px;
	padding: 10px;
	border-bottom: 1px dotted black;
}

.event_contact{
	font-size: 17px;
	margin: 0 40px;
	padding: 10px;
	border-bottom: 1px dotted black;
}

.event_tag{
	font-size: 17px;
	margin: 0 40px;
	padding: 10px;
	border-bottom: 1px dotted black;
}

.event_link{
	float: right;
	font-size: 17px;
	color: #036eb8;
	margin: 0 40px;
	padding: 10px;
}

.detail {
	width: 870px;
	margin: 40px 40px 0 40px;
}

.event_recommend{
	width: 950px;
	margin: 0 auto;
}

.recommend_title{
	font-size: 22px;
	font-weight: bold;
	border-bottom: 1px solid black;
	margin: 0 10px;
	margin-top: 100px;
	margin-bottom: 25px;
}

.one_image img{
	/*float:left;*/
	width: 500px;
	clear:both;
}
.two_image img{
	width: 400px;
	margin:0px 0px 0px 20px;
	clear:both;
	vertical-align: middle;
}
.three_image img{
	width: 250px;
	margin:0px 0px 0px 10px;
	clear:both;
	vertical-align: middle;
}

.recommend_detail {
	width: 930px;
	margin-bottom: 40px;
}

.recommend_detail td{
	padding: 5px;
	margin: 0px;
}

.recommend_area1 {
	width: 300px;
/*	margin: 0px 660px 0px 0px;
	position: absolute;
*/	z-index: 1;
	float: left;
	margin-left: 10px;
}

.recommend_area2 {
	width: 300px;
/*	margin: 0px 330px 0px 330px;
	position: absolute;
*/	z-index: 1;
	float: left;
	margin-left: 10px;
}

.recommend_area3 {
	width: 300px;
/*	margin: 0px 0px 0px 660px;
	position: absolute;
*/	z-index: 1;
	float: left;
	margin-left: 10px;
}

.recommend_area1 img{
	width: 300px;
}

.recommend_area2 img{
	width: 300px;
}

.recommend_area3 img{
	width: 300px;
}

.recommend_img {
	width: 270px;
}

div.image {
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: rgb(3, 110, 184);
}

a:hover {
text-decoration: underline;
}

.recommend_link {
	width: 270px;
	text-align: right;
}

.new img {
	float: left;
	padding: 0px;
	height: auto;
	width: 40px;
	margin-top: 5px;
	padding-right: 10px;
}

pre {
    background-color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    maegin: 0;
}